@import '../../shared/variables';

.SettingsControls {
  .title {
    margin-bottom: 4px;
  }

  button {
    background: $secondary;
    margin-left: 24px;

    &:hover {
      background: $secondary-highlight;
    }
  }
}
