@import '../../shared/variables';

.DeleteItem {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $secondary-text;

  .material-icons {
    color: $warning;
    margin-left: 4px;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: $warning-highlight;
      }
    }
  }
}

.DeleteList {
  .DeleteItem + .DeleteItem {
    margin-left: 24px;
  }

  .list-container {
    margin-top: 8px;
    display: flex;
    min-height: 24px;

    span {
      color: $secondary-text;
    }
  }
}
