@import '../../shared/variables';

.TransferDevice {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;

  i {
    color: $primary;
    font-size: 64px;
    margin-right: 16px;
  }

  &:hover {
    i {
      color: $primary-highlight;
    }
  }
}
