@import '../../shared/variables';

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 32px;
  flex: 1 1 0;

  .PlaylistList {
    margin-top: 8px;
  }

  .MediaControls {
    text-align: center;
  }

  .fullscreen, .IconLink {
    font-size: 64px;
    color: #2f2f2f;

    &:hover {
      cursor: pointer;
      color: $secondary-highlight;
    }
  }

  .btm-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
