@import '../../shared/variables';

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 32px;
  flex: 1 1 0;

  .PlaylistList {
    margin-top: 8px;
  }

  .MediaControls {
    text-align: center;
  }

  .IconLink.material-icons {
    position: absolute;
    font-size: 64px;
    right: 16px;
    color: $secondary;

    &:hover {
      color: $secondary-highlight;
    }
  }
}
