@import '../../shared/variables';

.MediaControls {
  i {
    font-size: 76px;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $primary;
    }
  }

  i + i {
    margin-left: 12px;
  }

  .prev, .next {
    color: $secondary-text;
  }
}
