@import '../../shared/variables';

.Settings {
  flex: 1 1 0;

  .nav {
    display: flex;
    align-items: center;
    height: 64px;

    i {
      font-size: 24px;
      margin: 0px 12px 0 20px;
    }

    span {
      font-size: 24px;
      text-align: center;
    }
  }

  .content {
    margin: 4px 24px;
  }

  .DeleteList {
    margin-top: 24px;
  }

  .SettingsDevices, .SettingsPlaylists {
    margin-bottom: 24px;
  }
}
